.preferences-container {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    color: #666;
  }
  
  .preferences-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Ensures 5 items per row */
    gap: 40px;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: center;
  }
  
  .preference-item {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 30px;
    position: relative;
  }
  
  .preference-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .preference-item span {
    font-size: 14px;
    margin-top: 5px;
    color: #555;
    font-weight: bold;
  }
  
  .preference-item:hover,
  .preference-item.selected {
    background: #80521F;
    color: #fff;
    transform: scale(1.1);
  }
  
  .preference-item.selected span {
    color: white;
  }
  
  .continue-btn {
    margin-top: 20px;
    padding: 12px 20px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .continue-btn:hover {
    background: #218838;
  }
  